#aboutUs
{
	background-color:white;
	width:1102px;
	margin: auto;
	border: 5px groove plum;
}

.heading
{
	text-align: center;
	font-family: "pristina";
	font-size:30px;
	margin-top: 10px;
	margin-bottom:10px;
}

.headingSep
{
	text-align: center;
	font-family: "pristina";
	font-size:25px;
	margin-top:-10px;
	margin-bottom:-10px;
}

.paragraph
{
	text-align: left;
	margin-right:30px;
	margin-left:30px;
	margin-top:10px;
	font-family: "chalet parisnineteensixty";
	font-size:20px;

}

.links
{
	text-align:center;
	margin-bottom:10px;
}

#aboutKeyClub
{
	width:720px;
	float:left;
}

#pics
{
	float:left;
}

.aboutUsPic
{
	height:350px;
	width:370px;
	margin-bottom:20px;
	position:relative;
	
}

.aboutUsPic#wordsImg
{
	top:8px;
	left:-10px;
}


