body
{
	background-color: #9CCAF7;
	background-size: cover;
}

#topNav 
{
	text-align:right;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:white;
}

#bottomNav
{
	clear:both;
	text-align:right;
	font-family: 'Shadows Into Light', cursive;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top:10px;
	background-color: white;
}
 
ul 
{
	 display: inline;
 }

ul a 
{
	color: #1D416A;
	padding-top:5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 20px;
}

ul a:hover:not(.active)
{
	background-color: #E6E7A4;
}

.active
{
	background-color: #FDCB5A;
}

.logoImg
{
	padding-top:10px;
	float:left;
	width:37px;
	position: relative;
	left: 14px;	
}

.logoImg#topImg
{
	top:-8px;
}

.logoImg#bottomImg
{
	top:-49px;
}

.logoTitle
{
	font-family: "Berlin Sans FB", demi;
	font-weight: bold;
	font-size:24px;
	color: #1D416A;
	padding-top:10px;
	float:left;
	position: relative;
	left: 20px;
}

.logoTitle#topTitle
{	
	top:-28px;
}

.logoTitle#bottomTitle
{
	top:-70px;
}

hr
{
	border-color: #e5c100;
}

footer
{
	display: inline-block;
	position:relative;
	text-align: center;
	width:100%;
	font-family: 'Oxygen', sans-serif;
	font-size:16px;
}
