@font-face
{
	font-family:"paint";
	src: url(fonts/KGLifeisMessy.ttf)
}

header
{
	padding-top:200px;
	padding-bottom:120px;
	background: url("siteImages/sunset.jpg");
	background-size: cover;
	font-family: 'Denk One', sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
}

header #headerTitle
{	
	margin-top: 0px;
	margin-bottom: 0px;
	text-align:center;
	font-size: 110px;
	color:white;
}

header #headerYr
{
	margin-top:13px;
	margin-bottom:0px;
	font-size:46px;
	text-align: center;
	color: white;
}

#pinkScribblePencil
{
	width:50%;
	margin-right: auto;
	margin-left: auto;
	display:block;
	height: 30px;
	margin-top:10px;
}

#info
{
	width:1135px;
	text-align:center;
	margin: 0 auto;
}

#welcome
{
	background-color: white;
	width:770px;
	height:600px;
	font-family: 'Rancho', cursive;
	font-size:20px;
	margin-bottom: 35px;
	margin-right: 15px;
	border: 5px groove plum;
	float:left;
	display: inline-block;
}

.welcomeTitle
{
	position:relative;
	top:-16px;
}

#upcomingEvents
{
	float:left;
	width:330px;
	margin-bottom: 10px;
	border: 5px ridge black;
	background: url("siteImages/corkboard.jpg");
	background:cover;
	font-family: "paint";
	font-size:17px;
	height:600px;
	display: inline-block;
	
}

#upcomingEvents #upcomingEventsTitle
{
	color:#000080;
	position:relative;
	top:-16px;
	text-decoration: underline;
	text-decoration-color: #000080
}

.events
{
	width:300px;
	position:relative;
}

.events#noEvents
{
	top:-60px;
	margin-right:auto;
	margin-left:auto;
}
