.albumTitle
{
	text-align: center;
	font-family: 'Rancho', cursive;
	font-size:33px;
	padding-top:7px;
}

.albumTitle.followingAlbumTitle
{
	margin-bottom:9px;
}

.event
{
	width:1030px;
	margin: 0 auto;
	text-align: center;
	position:relative;
}

.event.followingEvent
{
	clear:left;
	padding-top:10px;
}

.pic
{
	float:left;
	width:450px;
	margin-bottom:35px;
}

.actualPic
{
	width:400px;
	height:270px;
}

.description
{
	float:left;
	width:530px;
	background-color:white;
	margin-bottom:16px;
	border: 5px groove plum;
	font-family: 'Oxygen', sans-serif;
	font-size:20px;
	height:265px;
}

.eventDescription
{
	margin: 7px;
	text-align:left;

}

