.albumTitle
{
	text-align: center;
	font-family: 'Rancho', cursive;
	font-size:33px;
	padding-top:7px;
}

.albumTitle.followingAlbumTitle
{
	margin-bottom:9px;
}

.event
{
	width:922px;
	margin: auto;
}

.event.followingEvent
{
	clear:left;
	padding-top:10px;
}

.pic
{
	float:left;
	width:360px;
	margin-bottom:35px;
}

.actualPic
{
	width:340px;
	height:270px;
}

.description
{
	float:left;
	width:552px;
	background-color:white;
	margin-bottom:16px;
	border: 5px groove plum;
}

.eventDescription
{
	margin: 7px;
}

