#allEvents
{
	background-color:white;
	width:1135px;
	margin: auto;
	border: 5px groove plum;
	margin-bottom:35px;
}

.eventTitle
{
	font-family: 'Rancho', cursive;
	font-size:33px;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left:20px;
	text-decoration: underline;
}

.eventDetails
{
	font-family: 'Oxygen', sans-serif;
	margin-left:20px;
}

#colorfestival
{
	width:400px;
	margin-left:20px;
}